# Cmake build routine
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# IDEs
.vscode/
vs/.vs/
vs/SassySpecter.vcxproj
vs/sassyspecter
*~

# SC 1 and 2 games and SC APIs
kickstarter/

bin/SassySpecter
bin/*.exe
bin/*.ilk
bin/TechTree.json
bin/backup
*.tlog
*.obj
vs/RelWithDebInfo/SassySpecter.log
*.log
*.pdb

/vs/ClassDiagram.png
